<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimpsonsSys.Properties.Settings.ConString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;&quot;;Integrated Security=True" />
        <add name="SimpsonsSys.Properties.Settings.dbSimpsonsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbSimpsons.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>